{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

    {% block content %}

        <section class="section" id="about">
            <div class="container">
                <div class="section-title">
                    <div>¿Te gustaría escalar hoy?</div>
                </div>
                <!-- Botón 'Sí' -->
                 <div class="d-flex justify-content-center mt-4">
                    <div>
                      <button type="button" class= "btn-accent-block" onclick="window.location.href='otra_pagina.html'">Sí!</button>
                     </div>
                    </div>
                 </div>
            </div>
        </section>

    {% endblock %}

